<header class="bg-white shadow-sm bg-white">
    <nav class="navbar navbar-expand-lg navbazr-light container">
      <a class="navbar-brand" routerLink="/">
        <img src="assets/logo.png" alt="Logo" class="logo-img">
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">INÍCIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link verify-login" routerLink="{{language}}/store">LOJA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="{{language}}/about-us">SOBRE NÓS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="{{language}}/contacts">CONTACTOS</a>
          </li>
          <li class="nav-item">
            <div class="login-shopping-container">
              <a class="nav-link" routerLink="{{language}}/dashboard" [hidden]="!isAdmin"><i class="fas fa-tachometer-alt"></i></a>
              <a class="nav-link" routerLink="{{language}}/login" [hidden]="token != null"><i class="fas fa-user"></i></a>
              <a class="nav-link" (click)="openShoppingCart()" (click)="$event.stopPropagation()">
                <i class="fas fa-shopping-cart"></i>
                <div class="shopping-indicator">{{products.length}}</div>
              </a>        
              <a class="nav-link" routerLink="{{language}}/logout" [hidden]="token == null"><i class="fas fa-sign-out-alt"></i></a>  
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <shopping-cart [shoppingCartOpened]="shoppingCartOpened" [products]="products" (clickedOutsideShoppingCart)="shoppingCartOpened = !shoppingCartOpened" (clickedFinishOrder)="finishOrder()"></shopping-cart>
</header>
