
<div class="dashboard-page">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <ul class="dashboard-items">
          
        </ul>
      </div>
      <div class="col-10">
        <dynamic-pagination [pageSize]="pageSize" [currentPage]="currentPage" [totalItems]="totalCount" [items]="data" (clickItem)="checkOrderInfo($event)" (clickProduct)="checkProductInfo($event)" (clickNextPage)="nextPage()" (clickPreviousPage)="previousPage()"></dynamic-pagination>
      </div>
    </div>
  </div>
</div>


<modal-edit-product *ngIf="modalProductShow" [product]="selectedProduct" (clickBackground)="modalProductShow = !modalProductShow" title="Produto"></modal-edit-product>
<modal-order *ngIf="modalOrderShow" [order]="order" (clickBackground)="modalOrderShow = !modalOrderShow" (saveOrderClick)="saveOrder($event)"></modal-order>