.card {
  border-radius: 12.5px !important;
  transition: box-shadow 0.3s ease;
  display: flex;
  position: relative; // Adicione isso para permitir a sobreposição do gradiente
  padding: 5px 10px;
  min-height: 475px;

  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;

    .card-img-top {
      height: 100% !important;
      width: 100% !important;
      max-height: 100% !important;
      min-height: 100% !important;
      max-width: 100% !important;
      min-width: 100% !important;
    }
  }
  
  .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
      font-size: 24px;
      text-align: left !important;
      font-weight: 600;
      text-transform: capitalize;
      width: 100%;
    } 

    p {
      font-size: 13px;
      color: #959393;
      width: 100%;
      line-height: 18.9px;
      word-wrap: break-word !important;
      overflow-wrap: break-word !important;
      white-space: break-spaces;
      margin-bottom: 0;
    }
  }

  .gradient-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
      z-index: 1; // Certifique-se de que o gradiente fique sobreposto à imagem
  }
}

.card-footer {
  background-color: transparent !important;
  border: none !important;

  .price-show {
    width: 100%;
    font-size: 32px;
  }
}

.card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.25rem;
}

.card-text {
  font-size: 1rem;
  color: #666;
}

.btn {
  width: 100%;
  font-size: 12px;
}

.add-product-text {
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
  font-size: 10px;
}