<div class="card h-100 border rounded-3" [ngClass]="{ 'loading': product.loading }" (click)="clickedOnProduct($event)">
    <div class="gradient-overlay" *ngIf="product.loading"></div>

    <div class="img-container" *ngIf="!product.loading && product.image_thumbnail">
        <img [src]="product.image_thumbnail" class="card-img-top" alt="{{ product.translation.title }}">
    </div>
    
    <div class="card-body" *ngIf="!product.loading">
        <h2 [classList]="!product.image_thumbnail ? 'card-title text-center': 'card-title'" *ngIf="product.translation.title != null">{{ product.translation.title || "N/A" }}</h2>
        <p [classList]="!product.image_thumbnail ? 'card-title text-center': 'card-title'" *ngIf="product.translation.description_thumbnail != null">{{ product.translation.description_thumbnail || "N/A" }}</p>  
        
        <div class="add-product-text" *ngIf="isAdmin && !product.id && !product.loading ">
            <h4 class="text-center">Adicionar <br /> Produto</h4>
        </div>
    </div>

    <div class="card-footer">
        <h1 class="price-show" *ngIf="product.price">{{product.price}}€</h1>

        <div class="d-flex w-100 mt-2 gap-2" *ngIf="isAdmin && product.id != null">
            <button class="btn btn-warning mr-2" (click)="editProduct($event)">
                <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger" (click)="removeProduct($event)">
                <i class="fas fa-remove"></i>
            </button>
        </div>
    </div>  
</div>

