<div class="row d-flex justify-content-space-even p-8 text-white" style="background-color: #727272;">
    <div class="col-lg-4 col-sm-12">
        <h6 class="text-center">LOCALIZAÇÃO</h6>

        <p class="text-center">
            Calçada do Sacramento, 50 <br />
            Chiado, 1200-394 Lisboa -Portugal
        </p>
    </div>
    <div class="col-lg-4 col-sm-12">
        <h6 class="text-center">HORÁRIO</h6>
        
        <p class="text-center">
            14:00 as 18:00 <br />
            Segunda – Sexta
        </p>
    </div>
    <div class="col-lg-4 col-sm-12">
        <h6 class="text-center">FALE CONNOSCO</h6>
        
        <p class="text-center">
            21 346 4283 <br />
            966 176 987 <br />
            geral&atomanuscritohistorico.pt <br />
            tmargaridarebelo&atgmail.com <br />
        </p>
    </div>
</div>

<div class="row bg-dark">
    <div class="col"></div>
    <div class="col-lg-3 col-sm-12">
        <a href="http://lojascomhistoria.pt/lojas/o-manuscrito-historico" target="_blank">
            <img class="img-responsive p-4" src="assets/lojas-com-historia.png" alt="lojas-com-historia">
        </a>
    </div>
    <div class="col-lg-4 col-sm-12 d-flex justify-content-center align-items-center">
        <h2 class="heading-title">Todos os direitos reservados | O Manuscrito Histórico</h2>
    </div>
    <div class="col-lg-3 col-sm-12">
        <a href="https://www.livroreclamacoes.pt/inicio" target="_blank">
            <img style="filter: brightness(200%) contrast(200%) saturate(100%) blur(0px) hue-rotate(0deg);" class="img-responsive" src="assets/livro-reclamacoes.png" alt="livro-reclamacoes">
        </a>
    </div>
    <div class="col"></div>
</div>