:host {
  width: 100%;
  overflow: hidden;
  .row {
    margin: 0;
    width: 100%;

    .col-lg-3 {
      padding: 2em 8em;
    }
  }
}

h6 {
  color: #E0E0E0;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.heading-title {
  color: rgb(212, 209, 203);
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.img-responsive {
  width: 100%;
  object-fit: cover;
}

.p-8 {
  padding: 6em;
}