body {
    background-color: #f0f0f0;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: 75vh;
    object-fit: cover;
}

.hero-text {
    top: 50%;
    transform: translateY(-50%);
}

.categories {
    background-color: #f8f9fa;
}

.category .circle {
    width: 100px;
    height: 100px;
    background-color: #e0e0e0;
    border-radius: 50%;
}

.popular-products .products {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    max-width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}


@media (max-width: 767px) {
    .categories .container {
        overflow-x: auto;
        white-space: nowrap;
        max-width: none;
        width: 100%;
        margin: 0;
    }

    .categories .container .row {
        display: inline;
    }

    .categories .container .row > * {
        display: inline-flex;
        width: auto;
    }
}
