* {
  font-family: "Inter", sans-serif;
}

a {
  cursor: pointer;
}

.w-fit-content {
  width: fit-content;
  max-width: fit-content;
  min-width: fit-content;
}

.card {
  cursor: pointer;

  .card-img-top {
    max-height: 15vh !important;
    min-height: 15vh !important;
    object-fit: cover;
  }
  
  .card-body {
    min-height: 15vh;
    overflow: hidden; /* esconde qualquer conteúdo que exceda o espaço disponível */
    text-overflow: ellipsis; /* adiciona reticências (...) ao final do texto cortado */
    white-space: nowrap; /* impede que o texto seja quebrado em várias linhas */

    h5 {
      overflow: hidden; /* esconde qualquer conteúdo que exceda o espaço disponível */
      text-overflow: ellipsis; /* adiciona reticências (...) ao final do texto cortado */
      white-space: nowrap; /* impede que o texto seja quebrado em várias linhas */
      font-size: 16px;
      width: 100%;
    }

    p {
      overflow: hidden; /* esconde qualquer conteúdo que exceda o espaço disponível */
      text-overflow: ellipsis; /* adiciona reticências (...) ao final do texto cortado */
      white-space: nowrap; /* impede que o texto seja quebrado em várias linhas */
      font-size: 15px;
      width: 100%;
    }
  }
}

.pb-12 {
  padding-bottom: 12px;
}

.pt-12 {
  padding-top: 12px;
}

span {
  overflow: hidden; /* esconde qualquer conteúdo que exceda o espaço disponível */
  text-overflow: ellipsis; /* adiciona reticências (...) ao final do texto cortado */
  white-space: nowrap; /* impede que o texto seja quebrado em várias linhas */
  font-size: 15px;
  width: 100%;
}


@keyframes placeHolderShimmer {
  0% {
    background-position: -30vw 0
  }
  100% {
    background-position: 70vw 0
  }
}

.card.loading {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: fff;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  height: 100%;
  width: 100%;
  position: relative;
  padding-top: 50px;
  pointer-events: none;
}

.btn-primary {
  background-color: #EAC49A !important;
  border: none;
  color: black;
  width: 100%;
  border-radius: 25px;
}
