table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }

  .pagination {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.grid-view {
    margin-top: 12px;
    margin-bottom: 12px;
}

.list-view {
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.list-view .row:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.product-row {
    border: 1px solid #f2f2f2;
    padding: 15px;
    cursor: pointer;
}

.status {
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: lowercase;
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.status.POR_ENVIAR {
    background-color: rgb(35, 75, 206);
    color: white;
}

.status.ENVIADO {
    background-color: rgb(35, 200, 206);
    color: white;
}


.status.ESPERA_PAGAMENTO {
    background-color: rgb(161, 91, 26);
    color: white;
}

.status.COMPLETO {
    background-color: rgb(13, 110, 13);
    color: white;
}