<div class="row justify-content-end">
    <div class="col d-flex w-fit-content">
        <toggle-button [options]="togglerOptions" (toggled)="toggleView($event)"></toggle-button>
    </div>
    <div class="col d-flex w-fit-content">
        <dropdown [options]="sizes" [selectedOption]="pageSize" (optionSelected)="onOptionSelected($event)" label="Items por página"></dropdown>
    </div>
</div>

<div class="row grid-view" *ngIf="isGridView">
    <div class="col-lg-2 col-md-4 col-sm-12 pb-12 pt-12" *ngFor="let product of products">
        <product-item [product]="product"></product-item>
    </div>
</div>

<div class="list-view" *ngIf="!isGridView">
    <div class="row" *ngFor="let product of products">
        <div class="col col-3 d-flex justify-content-start">
            <img src="{{product.image}}" alt="{{product.title}}">
        </div>
        <div class="col col-3 d-flex">
            <span>{{product.title}}</span>
        </div>
        <div class="col col-3 d-flex">
            <span>{{product.description}}</span>
        </div>
    </div>
</div>

<div class="pagination">
    <custom-button (onClick)="previousPage()" icon="fa-solid fa-arrow-left">Anterior</custom-button>
    <span class="text-center">Página {{ currentPage }} de {{ calculateNumberPages() }}</span>
    <custom-button (onClick)="nextPage()" icon="fa-solid fa-arrow-right">Próxima</custom-button>
</div>